
<div class="center jumbotron">
  <h1>Hola</h1>
  <p>Para comenzar, ingresa tus datos.</p>
<!-- <p>Aquí se van a desplegar los link que se dirijan a tres rutas distintas <br>
   "instrucciones", "juego" y "resultados" de las rondas anteriores.</p> -->
