<% provide(:title, 'Sign up') %>
<h1>Registrar Usuarios</h1>
<p>Esta va a ser una página de administrador, el registro no es público, se <br>
  se requiere un control en los participantes pues así lo requiere la investigación.</p>
